/* Color Menu Links */
#leftcolumn div.module_menu ul li a{color:#000}
#leftcolumn div.module_menu ul li a:hover{color:#FFF}
#leftcolumn div.module_menu ul ul li a{color:#000}
#leftcolumn div.module_menu ul ul li a:hover{color:#FFF}

/* Configuration Menu Links */
#leftcolumn div.module_menu a{text-decoration:none; background-image:url(../images/menu.png); background-repeat:repeat-x; padding-left:8px; margin-top:3px; margin-bottom:3px; height:25px; line-height:25px}
#leftcolumn div.module_menu a:hover{text-decoration:none; background-image:url(../images/menu_hover.png); background-repeat:repeat-x}
#leftcolumn div.module_menu ul li a{text-decoration:none; font-size: 11px; margin-top:3px}
#leftcolumn div.module_menu ul ul li a{text-decoration:none; margin-left:5px; font-size: 11px; margin-top:3px}