/* 
 * Name   :myjsp_blocks.css
 * Author :Bernard Saulmé
 * (C) Bernard Saulmé
 */

.myjsp-blocks {
	margin:10px;
}

.myjsp-blocks div.icon {
	text-align:center;
	margin-right:15px;
	float:left;
	margin-bottom:15px;
}

.myjsp-blocks div.icon a {
	background:#fff;
	background-position:-30px;
	display:block;
	float:left;
	color:#565656;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	border:1px solid #ccc;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-transition-property:
		background-position,
		-webkit-border-bottom-left-radius,
		-webkit-box-shadow;
	-moz-transition-property:
		background-position,
		-moz-border-radius-bottomleft,
		-moz-box-shadow;
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
}

#myjsp-blocks0 div.icon a:hover,
#myjsp-blocks0 div.icon a:focus,
#myjsp-blocks0 div.icon a:active,
#myjsp-blocks div.icon a:hover,
#myjsp-blocks div.icon a:focus,
#myjsp-blocks div.icon a:active,
.myjsp-blocks div.icon a:hover,
.myjsp-blocks div.icon a:focus,
.myjsp-blocks div.icon a:active {
	background:#dddddd;
	background-position:0;

	-webkit-border-bottom-left-radius:25% 10px;
	-moz-border-radius-bottomleft:25% 10px;
	border-bottom-left-radius:25% 10px;
	-webkit-box-shadow:-5px 10px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:-5px 10px 5px rgba(0, 0, 0, 0.25);
	box-shadow:-5px 10px 5px rgba(0, 0, 0, 0.25);
	position:relative;
	z-index:10;
}

.myjsp-blocks img {
	padding:5px 0;
	margin:0 auto;
	border:none;
}

.myjsp-blocks span  {
	padding:5px 0 0 0;
	display:block;
	text-align:center;
}

.myjsp-blocks span.myjsp-pagename {
	padding:5px 0;
	font-weight:bold;
}

.myjsp-blocks .myjsp-pagename .myjsp-spanimg {
	text-align:center;
}

.myjsp-blocks span.myjsp-desc {
	padding:5px 0 5px 0;
	background-color:#eeeeee;
}
